@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color: #444;
    margin: 0;
}
/*
html{ 
    overflow-y:hidden;
}
*/
.App{
    width: 100%;
    max-width: 830px;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
}

.buttons-section{
    width: 200px;
    margin-right: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.list-content{
    width: 600px;  
    background-color: #fff;  
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 30px;
    border: solid 1px #fff;
    border-radius: 5px;
}

@media only screen and (max-width: 700px){
    .App{
        display: flex;
        justify-content: center;

    }
    
    .buttons-section{
        display: flex;
        flex-direction: column;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .list-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 15px;
              
    }
}